#navDiv {
    height: 10vh;
    background-color: burlywood;
}

#navDiv ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navDiv ul li {
    float: left;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 20px;
    border: 3px solid cornsilk;
    border-radius: 10px;
    
}

#navDiv ul li a {
    text-decoration: none;
}